
html[data-theme='light']{
	
	--button-color: #3D5CFF;
	--button-success-color: #005514;
	--button-error-color: #c92228;
	--button-inform-color: rgba(255, 217, 0, 0.466);

	--button-disabled-color:#3d5dff6c;
	--user-account-user-editbutton: #3D5CFF;
	--user-account-user-savebutton: green;

	--button-send-comment-svg-color-disabled: white;
	--button-send-comment-svg-color:#3D5CFF;
}
html[data-theme='dark']{

	--button-color: #3D5CFF;
	--button-success-color: #005514;
	--button-error-color: #c92228;
	--button-inform-color: rgba(255, 217, 0, 0.466);

	--button-disabled-color:#3d5dff6c;
	--user-account-user-editbutton: #3D5CFF;
	--user-account-user-savebutton: green;

	--button-send-comment-svg-color-disabled: white;
	--button-send-comment-svg-color:#3D5CFF;
}
@mixin buttonVariation($color) {
		background-color: $color;
		border:1px solid $color;
		&:hover{
			color: $color;
		}
		&:disabled{
			&:hover{
				background-color: $color;
				filter: contrast(200%);
				color: white;
			}
		}
}
.button{
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	border:1px solid var(--button-color);
	background-color: var(--button-color);
	outline: none;
	border-radius: 15px;
	font-family: $Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 15px;
	color: white;
	cursor: pointer;
	svg {
		transition-property: none;
		transition-duration: 0.3s ;
		transition-timing-function: none;
	}
	&:hover{
		background-color: transparent;
		color: var(--button-color);
	}
	&:disabled{
		background-color: var(--button-disabled-color);
		border-color: var(--button-disabled-color);
		cursor: default;
		&:hover{
			background-color: var(--button-disabled-color);
			color: white;
		}
	}
	&.success{
		@include buttonVariation(var(--button-success-color))
	}
	&.error{
		@include buttonVariation(var(--button-error-color))
	}
	&.inform{
		@include buttonVariation(var(--button-inform-color))
	}
	&-registration{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 40px ;
	}
	&-login{
		width: 100%;
		margin: 30px 0;
	}
	&-choose-method{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: calc(100% - 30px);
		margin: 15px;
		@include mobile{
			font-size: 14px;
		}
	}
	&-confirm-phone-code{
		margin: 40px auto 0;
		width: 100%;
		
	}
	&-add-user-img{
		
	}
	&-user-img{
		position: absolute;
		bottom: 0;
		right: 0px;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		svg{
			font-size: 36px;
		}
	}
	&-upload-img{
		background-color: green;
		border-color: green;
		&:hover{
			color: green;
		}
	}
	&-delete-img{
		right: auto;
		left: 0;
		background-color: red;
		border-color: red;
		&:hover{
			color: red;
		}
	}
	&-user_info_line_edit{
		border: none;
		background: transparent;
		outline: none;
		position: absolute;
		top: -10px;
		right: 0;
		cursor: pointer;
		// &:disabled{
		// 	color: 	lighten($color: var(--user-account-user-editbutton), $amount: 0.5)
		// }
		transition: 0s;
		svg{
			font-size: 20px;
		}
		&.edit{
			color: var(--user-account-user-editbutton);
		}

		&.save{
			color: var(--user-account-user-savebutton);

		}
	}
	&.subscribe,&.unsubscribe{
		padding: 5px 10px;
		font-size: 14px;
	}
	&.subscribe{

	}
	&.unsubscribe{
		
	}
	&-send-comment{
		padding: 0 10px 0 15px;
		&:hover{
			.comment_btn-svg{
				color: var(--comment-send-button-svg-color);
			}
		}
		.comment_btn-svg{
			color: white;
		}
		&:disabled{
			border-radius: 15px;
			height: 41px;
			cursor:not-allowed;
			padding: 0 10px 0 15px;
			.comment_btn-svg{
				color: var(--comment-send-button-svg-color-disabled);
			}
		}
	}
}