
html[data-theme='light']{
	
	--button-color: #3D5CFF;
	--button-disabled-color:#3d5dff6c;
}
html[data-theme='dark']{

	--button-color: #3D5CFF;
	--button-disabled-color:#3d5dff6c;
}

.button{
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	border:1px solid var(--button-color);
	background-color: var(--button-color);
	outline: none;
	border-radius: 15px;
	font-family: $Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	padding: 10px 15px;
	color: white;
	cursor: pointer;
	svg {
		transition-property: none;
		transition-duration: 0.3s ;
		transition-timing-function: none;
	}
	&:hover{
		background-color: transparent;
		color: var(--button-color);
	}
	&:disabled{
		background-color: var(--button-disabled-color);
		border-color: var(--button-disabled-color);
		cursor: default;
		&:hover{
			background-color: var(--button-disabled-color);
			color: white;
		}
	}
	&-registration{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 40px ;
	}
	&-login{
		width: 100%;
		margin: 30px 0;
	}
	&-choose-method{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: calc(100% - 30px);
		margin: 15px;
	}
	&-confirm-phone-code{
		margin: 40px auto 0;
		width: 100%;
		
	}
	&-add-user-img{
		
	}
	&-user-img{
		position: absolute;
		bottom: 0;
		right: 0px;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		svg{
			font-size: 36px;
		}
	}
	&-upload-img{
		background-color: green;
		border-color: green;
		&:hover{
			color: green;
		}
	}
	&-delete-img{
		right: auto;
		left: 0;
		background-color: red;
		border-color: red;
		&:hover{
			color: red;
		}
	}
}