
html[data-theme='light']{
	--body-background-color:#e0e5ec;
	--link-color:#3D5CFF;
	--link-hover-color:#3d5dff88;

}

html[data-theme='dark']{
	--body-background-color:#1F1F39;
	--link-color:#3D5CFF;
	--link-hover-color:#3d5dff88;

}
*{
	box-sizing: border-box;
	transition: $switch-theme-transition;
	margin: 0;
	padding: 0;
}
body{
	
	background: var(--body-background-color);
	
	transition: $switch-theme-transition;
}
.page{
	padding: 20px 0;
	@include mobile{
		overflow: hidden;
		padding: 20px 10px;
	}
}
.container{
	width: 1000px;
	margin: auto;
	@include mobile{
		width: 100%;
	}
}
main{
	@include container();
	padding-top: 40px ;
	padding-bottom: 40px ;
}
.link{
	font-family: $Poppins;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: var(--link-color);
	&:hover{
		color: var(--link-hover-color);
	}
}
.main-link{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
}
.text{
	font-family: $Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}