
html[data-theme='light']{
	--body-background-color:#e0e5ec;
	--link-color:#3D5CFF;
	--link-hover-color:#3d5dff88;

}

html[data-theme='dark']{
	--body-background-color:#1F1F39;
	--link-color:#3D5CFF;
	--link-hover-color:#3d5dff88;

}
*{
	box-sizing: border-box;
	transition: $switch-theme-transition;
	margin: 0;
	padding: 0;
}
body{
	background: var(--body-background-color);
	transition: $switch-theme-transition;
	padding-top: 60px;
}
.page{
	padding: 20px 0;
	width: 100%;
	@include mobile{
		overflow: hidden;
		padding: 20px 10px;
	}
}
.page-wrapper{

	&.chat-open{
		width: 60%;
		margin-left: 0;
	}
}
.container{
	width: 1000px;
	margin: auto;
	@include mobile{
		width: 100%;
	}
}
main{
	@include container();
	padding-top: 40px ;
	padding-bottom: 40px ;
}
.link{
	font-family: $Poppins;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-decoration-line: underline;
	color: var(--link-color);
	&:hover{
		color: var(--link-hover-color);
	}
}
.main-link{
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: inherit;
}
.text{
	font-family: $Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}


.w-10{
	width: 10%!important;
}
.w-20{
	width: 20%!important;
}
.w-30{
	width: 30%!important;
}
.w-40{
	width: 40%!important;
}

.w-50{
	width: 50%!important;
}
.w-60{
	width: 60%!important;
}
.w-70{
	width: 70%!important;
}
.w-80{
	width: 80%!important;
}
.w-90{
	width: 90%!important;
}
.w-100{
	width: 100%!important;
}
