html[data-theme='light']{
	--post-background-color:#FFFFFF;
	--post-shadow-color:rgba(0, 0, 0, 0.21);
	--post-preloader-background:#858597;
	--post-controller-dots: black;
	//meassage 
	--post-meassage-background: white;

	//text
	--post-user-name-color:#1F1F39;
	--post-user-posted-date-color:#858597;
	--post-content-description-color: #858597;

	//like
	//--like-btn-color:#FF6905;
	--like-btn-color:red;

	//comments btn
	--comments-btn-color:#3D5CFF;

	//number 
	--number-color:#B8B8D2;

}
html[data-theme='dark']{
	--post-background-color:#2F2F42;
	--post-shadow-color:transparent;
	--post-preloader-background:#858597;
	--post-controller-dots: white;
	//meassage 
	--post-meassage-background: #2F2F42;

	//text
	--post-user-name-color:#FFFFFF;
	--post-user-posted-date-color:#B8B8D2;
	--post-content-description-color: #FFFFFF;	

	//like
	//--like-btn-color:#FF6905;
	--like-btn-color:red;


	//comments btn
	--comments-btn-color:#3D5CFF;

	//number 
	--number-color:#B8B8D2;
}

@mixin flareWidth ($width:30px) {
	&::after{
		width: $width;
	}
}


.posts-list{
	width: 700px;
	margin: auto;
	.not-found{
		color: var(--post-user-name-color);
		font-family: $Poppins,sans-serif;
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;
		margin: 5px 0;
	}
}

.post{
	width: 100%;
	margin: 20px auto;
	border-radius: 20px;
	background: var(--post-background-color);
	box-shadow: 0px 4px 10px var(--post-shadow-color);
	padding: 20px;
	overflow: hidden;
	position: relative;
	&_user{
		&-info{
			display: flex;
		}
		&-avatar{
			margin-right: 15px;
			&.preloader{
				width: 50px;
				height: 50px;
				background-color: var(--post-preloader-background);
				border-radius: 10px;
				@include flareWidth(15px);

			} 
		}
		&-avatar-img{
			border-radius: 10px;
			width: 50px;
			height: 50px;
			object-fit: cover;
		}
		
		&-detail{
		
		}
		&-name{
			font-family: $Poppins;
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 18px;
			margin: 5px 0;
			color: var(--post-user-name-color);
			&.preloader{
				width: 150px;
				height: 18px;
				background-color: var(--post-preloader-background);
				border-radius: 7px;
			}
		}
		&-posted-date{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			margin: 0;
			color: var(--post-user-posted-date-color);
			&.preloader{
				width: 50px;
				height: 10px;
				background-color: var(--post-preloader-background);
				border-radius: 7px;
			}
		}
	}
	&_content{

		&-description{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			margin:10px 0;
			color: var(--post-content-description-color);
			&.preloader{
				display: flex;
				flex-direction: column;
				gap: 5px;
				&::after{
					content: none;
				}
				.line{
					@include flareWidth(10px);
					display: block;
					width: 400px;
					height: 18px;
					background-color: var(--post-preloader-background);
					border-radius: 7px;
					&:nth-child(2){
						width: 300px;
					}
					&:last-child{
						width: 250px;
					}
				}
				
			}
		}
		&-picture{
			&.preloader{
				width: 100%;
				margin: auto;
				height: 350px;
				background-color: var(--post-preloader-background);
				border-radius: 10px;
			} 
		}
		&-picture-img{
			width: 100%;
			border-radius: 15px;
		}
	}
	.post_button{
		padding: 0;
		line-height: 0.5;
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
		&-svg{
			font-size: 2.5em;
		}
	}
	&_info{
		display: flex;
		gap: 20px;
		padding: 10px 0;
		
		.like_btn{
			&:active{
				transform: scale(0.8);
				transition: none;
			}
			&-wrapper{

			}
			&-svg{
				color: var(--like-btn-color);	
			}
			&:disabled{
				&-svg{
					color: green;
				}
				// -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
 				//  mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
			}
		}
		.comments_btn{
			padding: 0;
			line-height: 0.5;
			&-wrapper{

			}
			&-svg{
				color: var(--comments-btn-color);

			}
		}
		.number{
			font-family: $Poppins;
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 15px;
			color: var(--number-color);
		}
	}
	&-controller{
		position: relative;
		display: flex;
		align-self: flex-start;
		margin: 0 0 0 auto;
		&-dots{
			display: flex;
			flex-direction: column;
			gap: 2px;
			width: 20px;
			cursor: pointer;
			justify-content: center;
			flex-wrap: wrap;
			align-content: center;
			span{
				display: block;
				background-color: var(--post-controller-dots);
				width: 5px;
				height: 5px;
				border-radius: 50%;
			}
		}
		&-popup{
			position: absolute;
			z-index: 10;
			background-color: rgba(192, 192, 192, 0.3);
			backdrop-filter: blur(5px);
			right: 100%;
			top: 100%;
			padding: 10px;
			border-radius: 10px 0 10px 10px;
			&.show{
				visibility: visible;
				animation: fadeIn 0.3s;
			}
			&.hide{
				visibility: hidden;
				animation: fadeOut 0.3s;
			}
			&-item{
				display: block;
				font-family: $Poppins;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 21px;
				color: var(--app-color);
				transition: 0s;
				width: max-content;
				margin: 5px 0;
				cursor: pointer;
				text-shadow: 1px 1px 5px white, -1px -1px 5px white;
				&.delete{
					color: red;
				}
				&.edit{

				}
				&.arhive{

				}
			}
		}

	}
}

.post-message{
	position: absolute;
	inset: 50% auto auto 50%;
	transform: translateY(-50%) translateX(-50%);
    background: var(--post-meassage-background);
    border-radius: 15px;
    padding: 30px 20px;
	&-text{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		color: var(--post-content-description-color);
	}
	&.confirm{

	}

	&.inform{
			
	}
	&-buttons{
		display: flex;
   		justify-content: space-around;
    	padding-top: 30px
	}
	&-background{
		position: absolute;
		inset: 0;
		background-color: rgba(192, 192, 192, 0.3);
		backdrop-filter: blur(5px);
		z-index: 1;
		transition: 0.3s all linear;
		&.show{
			opacity: 1;
		}
		&.hide{
			pointer-events: none;
			opacity: 0;
			
		}
	}
	
		
}
.preloader {
	position: relative;
	overflow: hidden;
	&::after{
		content: '';
		position: absolute;
		top: 0;
		height: 100%;
		width: 10%;
		transform: skewX(-45deg);
		animation: flareAnimation;
		left: -150%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
		animation: flareAnimation 3s infinite linear; 
	}
}


@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}


@keyframes fadeIn {
	from{
		
		opacity: 0;
		
	}
	to{
		opacity: 1;
		
	}
  }

  @keyframes fadeOut {
	from{
		
		opacity: 1;

	}
	to{
		opacity: 0;

	}
  }


  @media (max-width:750px) {
	.posts-list{
		width: 100%;
	}
	.post_user-avatar-img{
		width: 35px;
		height: 35px;
	}
	.post_user-name{
		font-size: 14px;
		margin-top: 0;
	}
	.post .post_button-svg{
		font-size: 2em;
	}
}