html[data-theme='light']{

	//text
	
	--profile-info-svg: #1F1F39;
	--profile-info-text: #858597;
	--profile-username: #1F1F39;

}
html[data-theme='dark']{
	--profile-info-svg: #858597;
	--profile-info-text: #858597;
	--profile-username: white;
}


.profile-info-about-user{
	display: flex;
	gap: 30px;
	@include mobile{
		flex-direction: column;
	}
	&-img{
		overflow: hidden;
		width: 300px;
		border-radius: 30px ;
		@include mobile{
			width: calc(100% + 20px);
			margin: 0 -10px;
			border-radius: 0;
		}
		img{
			width: 100%;
			object-fit: cover;
			aspect-ratio: 1/1;
		}
	}
	&-title{
		font-family: $Poppins, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 25px;
		line-height: 25px;
		margin: 30px 0;
		text-align: center;
		color: var(--profile-username);
	}
	&-subscribe-button{
		width: 100%;
	}
}

.profile-info{
	&-blocks{
		display: flex;
		width: 100%;
		@include mobile{
			width: 200%;
			&.open{
				transform: translateX(-50%);

			}
		}
	}
	&-list{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding: 10px 0;
		width: max-content;
		@include mobile{
			width: 50%;
			.open &{
				transform: translateX(-30px);
			}
			
		}
	}
	&-item{
		list-style-type: none;
		background-color: var(--accout-info-item);
		border-radius: 5px;
		position: relative;
		cursor: pointer;
		width: 100%;
		&-link{
			color: var(--user-account-username-color);
			text-decoration: none;
			padding: 10px 35px 10px 20px;
			display: block;
			&:hover{
				color: var(--user-account-username-color);
				
			}
			
		}
		&:hover{
			&::after,&::before{
				background-color: var(--user-account-username-color);
				right: 10px;
			}
		}
		&::after,&::before{
			content: '';
			display: block;
			position: absolute;
			width: 6px;
			height: 2px;
			border-radius: 2px;
			background-color: var(--user-account-username-color);
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			transform-origin: right;
			transition: 0.3s;
		}
		&::after{
			transform: translateY(-50%) rotate(30deg);
		}
		&::before{
			transform: translateY(-50%)  rotate(-30deg);
		}
		&.active{
			background-color: var(--app-color);
			&::after,&::before{
				background-color: white;
			}
			a{
				color: white;
			}
		}
	}
	&-item-block{
		box-shadow: var(--box-shadow);
		border-radius: 20px;
		padding: 20px;
    	margin: 10px 20px;
		flex-grow: 1;
		@include mobile{
			width: 50%;
			margin: 10px 0;
			transform: translateX(30px);
			.open &{
				transform: none;
			}
		}
		&-link-back{
			display: none;
			@include mobile{
				display: flex;
				width: max-content;
				align-items: center;
				gap: 10px;
				text-decoration: none;
				svg{
					transform: rotate(-90deg);
				}
				margin-bottom: 10px;
			}
		}
	}
}

.profile-main-info{
	&-line{
		display: flex;
		gap: 20px;
		align-items: center;
		
		& ~ &{
			margin: 15px 0;
		}
		& svg{
			color: var(--profile-info-svg);
		}
		& .text{
			font-family: $Poppins, sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 18px;
			color: var(--profile-info-text);
		}
	}

	&-name{
		text-transform: capitalize;
	}
	&-phone-number{
		letter-spacing: 1px;
	}
	&-birth-date{

	}
}


.page-preloader{

}

.friends{
	
}
.friend{
	display: flex;
	gap: 20px;
	box-shadow: var(--box-shadow);
	padding: 10px;
	border-radius: 10px;
	&-img{
		width: 70px;
		height: 70px;
		aspect-ratio: 1/1;
		border-radius: 10px;
		object-fit: cover;
	}
	&-info{
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		&-username{
			font-family: "Poppins", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 18px;
			margin: 5px 0;
			color: var(--post-user-name-color);
			text-decoration: none;
		}
		&-fullname{
			font-family: "Poppins";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 18px;
			margin: 0;
			color: var(--post-user-posted-date-color);
		}
		& button{
			align-self: flex-end;
		}
	}
}